<div class="container">
Please read the Terms and Conditions of Grocr.ca to familiarize yourself with the company’s rules.  By creating an account with Grocr we assume that you have understood the rules and agreed with the following terms. The rules can vary with time and customers might not be notified, so keeping yourself updated with our terms is recommended.

<h2>Website</h2>

Grocer is a delivery service for online groceries. Anyone can access it at no cost until purchase is made. We provide information about the cost of the merchandise and we deliver the ordered food at a given address. 
The order is done on the website and the payment can be done online or upon delivery. The groceries are done by shoppers responsible for all or part of the delivery. The additional fee per transaction covers the cost of the shopper’s salary and transportation. Grocr doesn’t provide any warranty for the time of delivery or quality of the products but customers are welcome to comment on the experience of the service on the website.

You may share the link to the website but all content, pictures, design or text exposed on the website is the propriety of Grocr.ca and they shall not be used for commercial purposes. Any reproduction or modification of the website is forbidden.   
Grocr can’t warrant that the website is free of any errors or viruses and shall not be responsible for the costs affiliated with such problems. 

<h2>Account / Personal Information</h2>

The email address used to create an account will only be used by grocr.ca as long as it is concerned. 
The customer is the only one in charge of the account created, and therefore responsible to keep the information confidential. The customer is responsible for any changes in password or username. If any unusual activity on the account is noticed, Grocr is not to be held accountable for the damages. 
You can easily unsubscribe and opt-out from our email list by contacting us. 
If you provide Grocr with a phone number, we assume that we can use it to call you if the products that you have chosen are not available or for any delay in the delivery.
Any address given for delivery shall not be used for other purposes then the delivery itself. 

<h2>Shopper</h2>

Personnal shoppers will follow a training to pick the best ingredient for customers but Grocr is not responsible for the fitness or conduct of personal shoppers and will not take part in any conflict.
The personal shopper has access to personal information concerning the client, this to be able to call them in case of an issue and deliver the right articles at the right address. 
Grocr strives to give the freshest ingredients nevertheless the company is constrained by the products available in store the shopper will inform the customer if the exact texture is not found in store. 
You must not:
	<ul>
		<li>Insult your personal shopper in any way </li>
		<li>Ask him to conduct another delivery as all deliveries and buys need to be done via the website. </li>
		<li>Return a product to the shopper and ask for reimbursement for invalid reasons.</li>
	</ul>

<h2>Delivery </h2>

If the products get damaged after delivery it is no longer Grocr’s responsibility to change it or reimburse it. 
Grocr strives to offer the best service to its customers, but takes no responsibility or warranty for inaccurate items, damaged goods or unauthorized access of personal information.

<h2>Limitation of Liability</h2>

You accept that Grocr will not be responsible for damages from our website, delivery, shoppers or inaccessibility to the website. Grocr will not be liable for consequential damages from the i.use of our service ii. internet platform or iii. Shopper services. 
</div>