<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoStreet" placeholder="Street name and number">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoCity" placeholder="City">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoProvince" placeholder="Province">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoCountry" placeholder="Country">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoPostalCode" placeholder="Postal Code">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="completeInfoPhoneNumber" placeholder="Phone Number">
        </div>
        <button type="submit" class="btn btn-green center">SUBMIT</button> 
      </form>
    </div>
  </div>
</div>
