<div id="navbar-main">
  <div class="navbar navbar-default navbar-fixed-top"> <!-- Fixed navbar -->
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand hidden-xs hidden-sm">Grocr</div>
      </div>

      <form class="navbar-form navbar-left" role="search">
        <div class="input-group" id="test2">
          <div class="form-group" id="test">
            <input type="text" class="form-control" id="search">
          </div>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-menu"></span>
      </button>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="searchTab" href="#search" class="navbar-link">Search</a></li>
          <li><a id="basketTab" href="#basket" class="navbar-link">Basket</a></li>
          <li><a id="logout" href="/" class="navbar-link">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>