<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
          <li><a id="ordersTab" href="#admin" class="navbar-link">Orders</a></li>
          <li><a id="analyticsTab" href="#admin/analytics" class="navbar-link">Analytics</a></li>
          <li><a id="logout" href="/" class="navbar-link">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
