.headerwrap {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 40px;
  width: 100%;
}
.whitewrap {
  background: #ffffff;
  padding: 80px 0;
  min-height: 400px;
}
.greywrap {
  background: #ffffff;
  padding: 80px 0;
  min-height: 400px;
}
.greenwrap {
  background: #32a96e;
  padding: 40px 0;
  width: 100%;
}
.text-block {
  margin: 20px 0;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}
.text-block h1,
.text-block h2,
.text-block h3 {
  margin: 0;
  font-family: 'Open Sans';
}
.form-control {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 75%;
  height: 50px;
}
#welcome .grocer-img-responsive {
  margin: 0 auto;
}
#welcome .text-block h1 {
  font-size: 60px;
  color: #32a96e;
}
#welcome .text-block h2 {
  color: #32a96e;
}
#signup .text-block {
  width: 75%;
}
#signup .text-block h1 {
  color: #ffffff;
  margin-bottom: 40px;
}
#signup .text-block h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 40px;
}
#about .text-block h1 {
  color: #32a96e;
}
#about .text-block h2 {
  color: #32a96e;
  margin-bottom: 40px;
}
#about .text-details {
  width: 65%;
  font-size: 16px;
  font-family: 'Open Sans';
  text-align: left;
  color: #32a96e;
}
#contact .text-block {
  width: 75%;
}
#contact .text-block h1 {
  color: #ffffff;
  margin-bottom: 40px;
}
#contact .text-block h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 40px;
}
#contact .text-block a {
  color: #000000;
}
.navbar {
  margin-bottom: 0;
  -webkit-backface-visibility: hidden;
}
.navbar > .container .navbar-brand {
  line-height: 30px;
}
.navbar > .container .navbar-collapse a {
  line-height: 30px;
}
*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-header {
  border-bottom: 0px;
}
.btn-green {
  font-family: 'Open Sans';
  font-weight: 400;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #32a96e;
  border-color: #ccc;
}
.btn-green:hover {
  color: #ffffff;
  background-color: #3ac47f;
}
.modal-body .btn-green {
  width: 75%;
  height: 50px;
}
.input-group {
  width: 200px;
}
.grid {
  margin: 5px;
  position: relative;
}
.grid img {
  width: 100%;
  display: block;
  position: relative;
}
.grid .details .info {
  background-color: rgba(34, 34, 34, 0.4);
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;
}
#searchresults .grid img {
  height: 200px;
  width: 200px;
  display: block;
  position: relative;
}
.grid .details .add-to-basket {
  background-color: rgba(34, 34, 34, 0.4);
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
}
.grid .details .info h5 {
  margin: 0;
  padding-top: 0px;
  color: white;
  font-size: 22px;
  text-align: left;
}
.grid .details .info h6 {
  margin: 0;
  padding-top: 0px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.grid .details .add-to-basket {
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.grid:hover .details .add-to-basket {
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.grid .details .add-to-basket a {
  font-family: 'Open Sans';
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.carousel-indicators li {
  border: none;
  background-color: lightgrey;
}
.carousel-indicators li.active {
  background-color: #32a96e;
}
