<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="col-lg-12">
            <div class="text-block">
                <h1 class="title">About Us</h1>
                <h2 class="title-description">Learn About our Team &amp; Culture.</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-details center">
                Grocr is a food delivery service, working with your favourite grocery stores to provide you with the fresh ingredients you need at your doorstep.
                <br><br>Our mission is to save you time and energy on everyday grocery shopping.
                <br><br>Our team is composed by three passionate chefs that don’t always have the time to get all the ingredients they need.
                <br><br>Grocr can be accessed by computer or phone to get the groceries you need when you need them.
                <br><br>
                <ul>
                    <li>Convenience of getting groceries delivered at your doorstep</li>
                    <li>No last minute runs to the grocery store</li>
                    <li>Stock your empty fridge with a click</li>
                    <li>Time and energy saver</li>
                </ul>
            </div>
        </div>
    </div>
</div>