<div id="navbar-main">
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" data-scroll href="#home">Grocr</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-menu"></span>
          </button>
          <!-- <span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span> -->
        </div>
        
        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-left">
            <li><a href="#home" data-scroll class="navbar-link">Home</a></li>
            <li><a href="#about" data-scroll class="navbar-link">About</a></li>
            <li><a href="#contact" data-scroll class="navbar-link">Contact Us</a></li>
          </ul>
         <ul class="nav navbar-nav navbar-right">
          <li><a href="#signup" data-scroll class="navbar-link"><button class="btn btn-green">SIGN UP</button></a></li>
          <li><a data-toggle="modal" href="#signin" class="navbar-link"><button class="btn btn-green">LOG IN</button></a></li>
        </ul>
        </div><!--/.nav-collapse -->

    </div>
  </div>
</div>


<div id="signin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>