<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="grid">
            <img src="img/items/010001.jpg" img-responsive alt="Apples">
            <div class="details">
                <div class="info">
                    <h5>Apples</h5>
                    <h6>$0.53 ea</h6>
                </div>
                <div class="add-to-basket">
                    <a href="#signup" data-scroll>Add To Basket</a>
                </div>                
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <div class="grid">
            <img src="img/items/010002.jpg" img-responsive alt="Oranges">
            <div class="details">
                <div class="info">
                    <h5>Oranges</h5>
                    <h6>$1.07 ea</h6>
                </div>
                <div class="add-to-basket">
                    <a href="#signup" data-scroll>Add To Basket</a>
                </div>                
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="grid">
            <img src="img/items/010003.jpg" img-responsive alt="Bananas">
            <div class="details">
                <div class="info">
                    <h5>Bananas</h5>
                    <h6>$0.31 ea</h6>
                </div>
                <div class="add-to-basket">
                    <a href="#signup" data-scroll>Add To Basket</a>
                </div>                
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="grid">
            <img src="img/items/010004.jpg" img-responsive alt="Strawberries">
            <div class="details">
                <div class="info">
                    <h5>Strawberries</h5>
                    <h6>$3.39/500g</h6>
                </div>
                <div class="add-to-basket">
                    <a href="#signup" data-scroll>Add To Basket</a>
                </div>                
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>


