<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <input type="email" class="form-control center" id="signinEmail" placeholder="Email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control center" id="signinPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-green center">LOG IN</button> 
      </form>
      <div style="text-align:center">
        <!-- Forgot password? -->
        <!-- <br> -->
        Don’t have an account? <a id="signup-btn" href="#signup" data-scroll>Sign up</a>
      </div>
    </div>
  </div>
</div>
