<div class="row">
	<div class="col-lg-6 col-lg-offset-3">      		
		<div class="text-block center">
			<h1>Order Groceries Online</h1>
			<h3>Currently we are serving the Montreal downtown core. More locations coming soon! Sign up now to order, or to get notified when we begin serving your area!</h3>
		</div>
		<form role="form">
			<div class="form-group">
				<input type="email" class="form-control center" id="signupEmail" placeholder="Enter email">
				<div id="errormessage"></div>
			</div>
			<div class="form-group">
				<input type="password" class="form-control center" id="signupPassword" placeholder="Enter password">
			</div>
			<button type="submit" class="btn btn-green center">SIGN UP</button>
		</form>
	</div>
</div>